.logo {
  @include span-columns(8);
  @include shift(2);
  margin-top: 2em;
  fill: white;
  -webkit-filter: drop-shadow(0px 0px 7px rgba(0,0,0,0.3));
}

.btn--home {
  font-size: 2em;
  margin-top: 1em;
  color: white;
  @include btnColor($cerulean)
  @include media(max-width 1024px) {
    font-size: 1em;
  }
}