section
  svg.logo(viewbox="0 0 1004.43 357.06")
    use(xlink:href="img/positively.svg#positively")

section.text-center
  a.btn.btn--home(data-ng-if="main.dayOrNight == 'daytime'" href="/day-rating/step-1") Set the Tone for Today
  a.btn.btn--home(data-ng-if="main.dayOrNight == 'nighttime'" href="/night-rating") Rate Your Day