section
  h1 Now some things that could use improvement...
  section
    .input-holder
      form
        input(type='text' autofocus data-ng-model="improve.one")
        input(type='text' data-ng-model="improve.two")
        input(type='text' data-ng-model="improve.three")
    navbuttons