section
  h1 List some things that are going well...
  section
    .input-holder
      form
        input(type='text' autofocus data-ng-model="good.one")
        input(type='text' data-ng-model="good.two")
        input(type='text' data-ng-model="good.three")
    navbuttons